* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    height: 60px;
    padding: 15px;
}

.navi > .logo {
    font-size: 35px;
    font-weight: 800;
}

.logo:hover {
    cursor: pointer;
}

.navi > .user > img {
    width: 30px;
    height: 30px;
}

.banner {
    height: 400px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 35px;
    font-weight: 800;;
    color: black;
    background-color: lightgray;
    padding: 20px;
}

.contents-form {
    width: 90%;
    margin: 20px auto;
}

.contents-form > .title {
    font-size: 25px;
    margin: 20px auto;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.content-item {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-item > a >img {
    width: 270px;
    height: 250px;
}

.content-item > p {
    font-weight: 800;
    margin: 10px;
}

.content-item > span {
    font-size: 12px;
}

.contents-video {
    display: flex;
    justify-content: center;
    background-color: black;
}
.contents-video > video {
    width: 100%;
    max-width: 1060px;
}

.detail-contents {
    width: 95%;
    padding: 10px;
    margin: auto;
}

.detail-title {
    font-size: 26px;
    font-weight: 800;
}

.detail-info {
    font-size: 14px;
    color: gray;
    padding: 3px;
}

.detail-info > .detail-writer {
    margin-bottom: 3px;
}

.detail-content {
    margin-top: 15px;
}

.detail-contents > img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
}