.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  background: black;
  width: 100%;
  height: 50px;
  color: white;
  align-items: center;
}

.nav-bar h3 {
  margin-left: 20px;
}

.contents {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.contents .delete:hover {
  cursor: pointer;
}
.contents h4:hover {
  cursor: pointer;
}
.contents p {
  display:flex;
  justify-content: space-between;
  padding-right: 12px;
}
.contents .delete {
  font-size: 14px;
  color: grey;
  margin-right: 5px;
}

.input-box {
  margin-top: 8px;
  padding: 5px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}