<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<!--
    ejs를 이용한 서버사이드 렌더링
    1. ejs 쓰면 html 안에서 서버데이터 사용 가능
    2. ejs 파일은 views 폴더안에 만든다.
    3. res.render로 유저에게 페이지를 보내준다.
-->

<body class="grey-bg">

    <!-- Nav -->
    <%- include('nav.ejs') %>

    <form class="form-box" action="/add" method="POST">
        <h4>글쓰기</h4>
        <input type="text" name="title" placeholder="title">
        <input type="text" name="content" placeholder="content">
        <button type="submit">전송</button>
    </form> 
  
  </body>
</html>